<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Requestor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C2EE1991BBC7EB5003616B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C2EE1AD1BBC7EB5003616B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C2EE1B81BBC7EB5003616B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
